.cards {
    position: absolute;
    top: 87px;
    left: 7px;
    width: 226px;
    height: 419px;
}
.m11149LightningBolt1Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 441px;
}
.m11149LightningBolt1Icon {
    width: 105px;
    height: 146px;
    object-fit: cover;
}
.enSo26qosnro1Icon,
.image1Icon,
.m11149LightningBolt2Icon,
.xsheoldredp20thep20apocalyIcon {
    position: absolute;
    top: 0;
    left: 121px;
    width: 105px;
    height: 146px;
    object-fit: cover;
}
.enSo26qosnro1Icon,
.image1Icon,
.m11149LightningBolt2Icon {
  top: 47px;
  left: 0;
}
.enSo26qosnro1Icon,
.m11149LightningBolt2Icon {
    top: 89px;
}
.enSo26qosnro1Icon {
    top: 47px;
    left: 121px;
}
.enSo26qosnro2Icon,
.image2Icon,
.xsheoldredp20thep20apocalyIcon1 {
    position: absolute;
    top: 132px;
    left: 0;
    width: 105px;
    height: 146px;
    object-fit: cover;
}
.enSo26qosnro2Icon,
.xsheoldredp20thep20apocalyIcon1 {
    top: 89px;
    left: 121px;
}
.enSo26qosnro2Icon {
    top: 132px;
}
.enSo26qosnro3Icon,
.xsheoldredp20thep20apocalyIcon2,
.xsheoldredp20thep20apocalyIcon3 {
    position: absolute;
    top: 178px;
    left: 121px;
    width: 105px;
    height: 146px;
    object-fit: cover;
}
.enSo26qosnro3Icon,
.xsheoldredp20thep20apocalyIcon3 {
    top: 228px;
}
.xsheoldredp20thep20apocalyIcon3 {
    top: 273px;
}
.image3Icon,
.m11149LightningBolt3Icon,
.m11149LightningBolt4Icon {
    position: absolute;
    top: 178px;
    left: 0;
    width: 105px;
    height: 146px;
    object-fit: cover;
}
.image3Icon,
.m11149LightningBolt4Icon {
    top: 228px;
}
.m11149LightningBolt4Icon {
    top: 273px;
}