.emptydeskimageIcon,
.scanstateoff1Icon,
.scanstateon1Icon {
  position: absolute;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.emptydeskimageIcon {
  height: 98%;
  width: 76.75%;
  right: 11.15%;
  bottom: 2%;
  left: 12.1%;
}
.scanstateoff1Icon,
.scanstateon1Icon {
  height: 100%;
  width: 51.69%;
  bottom: 0;
}
.scanstateoff1Icon {
  right: 48.31%;
  left: 0;
  display: none;
}
.scanstateon1Icon {
  right: 0;
  left: 48.31%;
}
.continousscanbutton {
  position: absolute;
  height: 12.67%;
  width: 33.12%;
  top: 69.16%;
  right: 40.76%;
  bottom: 18.17%;
  left: 26.11%;
}
.camerabutton1Icon {
  right: 49.15%;
  left: 0;
  display: none;
}
.camerabutton1Icon,
.cameradisabled1Icon,
.camerapressed1Icon {
  position: absolute;
  height: 100%;
  width: 50.85%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.camerapressed1Icon {
  right: 0;
  left: 49.15%;
  display: none;
}
.cameradisabled1Icon {
  right: -48.73%;
  left: 97.88%;
}
.camerabutton,
.menubar {
  position: absolute;
  top: 333px;
  left: 117px;
  width: 71px;
  height: 36px;
}
.menubar {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-tan);
}
.blockingBar,
.collection1Icon,
.collectionclick1Icon {
  position: absolute;
  height: 100%;
  width: 76.68%;
  top: 0;
  right: 11.5%;
  bottom: 0;
  left: 11.82%;
}
.collection1Icon,
.collectionclick1Icon {
  width: 44.74%;
  right: 55.26%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.collectionclick1Icon {
  height: 103.54%;
  width: 44.62%;
  right: -3.19%;
  bottom: -3.54%;
  left: 58.57%;
  display: none;
}
.collectionButton {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 23.96%;
  bottom: 5.56%;
  left: 42.81%;
}
.scan1Icon,
.scanclick1Icon {
  position: absolute;
  height: 100%;
  width: 43.24%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scan1Icon {
  right: 56.76%;
  left: 0;
  display: none;
}
.scanclick1Icon {
  right: 0;
  left: 56.76%;
  border-radius: var(--br-4xs);
}
.scanButton {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 66.77%;
  bottom: 5.56%;
  left: 0;
}
.decks1Icon,
.decksclicked1Icon {
  position: absolute;
  height: 100%;
  width: 41.93%;
  top: 0;
  right: 58.07%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.decksclicked1Icon {
  height: 99.15%;
  width: 39.72%;
  right: 8.16%;
  bottom: 0.85%;
  left: 52.13%;
  display: none;
}
.decksButtonv2,
.scanbarRegion {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 0;
  bottom: 5.56%;
  left: 66.77%;
}
.scanbarRegion {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.scanbarRegionv2,
.scanissetstep {
  position: absolute;
  top: 387px;
  left: 0;
  width: 314px;
  height: 54px;
}
.scanissetstep {
  height: 100%;
  width: 130.83%;
  top: 0;
  right: -15%;
  bottom: 0;
  left: -15.83%;
}
.scanbuttondark {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 441px;
  overflow: hidden;
}
