.background1 {
  background-color: var(--color-sienna);
}
.background,
.background1,
.backgroundBlockingChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.backgroundBlockingChild {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
}
.backgroundBlocking {
  position: absolute;
  height: 72.34%;
  width: 48.33%;
  top: 17.69%;
  right: 2.08%;
  bottom: 9.98%;
  left: 49.58%;
}
.magicTheGathering {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.title,
.title1 {
  position: absolute;
  height: 2.95%;
  width: 41.25%;
  top: 18.14%;
  right: 6.25%;
  bottom: 78.91%;
  left: 52.5%;
}
.title1 {
  right: 55%;
  left: 3.75%;
  color: var(--color-gray-300);
}
.decklistBackground,
.menubar {
  position: absolute;
  top: 0;
  left: 0;
}
.decklistBackground {
  width: 240px;
  height: 441px;
  font-size: var(--font-size-xs);
}
.menubar {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-tan);
}
.blockingBar {
  position: absolute;
  top: 49px;
  left: 244px;
  width: 248px;
  height: 49px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.search,
.searchbar1 {
  position: absolute;
  height: 100%;
  top: 0;
}
.searchbar1 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-300);
}
.search {
  width: 77.22%;
  left: 1.94%;
  display: inline-block;
}
.searchbar,
.searchbar2 {
  position: absolute;
  height: 78.46%;
  width: 100%;
  top: 10.77%;
  right: 0;
  bottom: 10.77%;
  left: 0;
}
.searchbar2 {
  height: 89.47%;
  top: 5.26%;
  bottom: 5.26%;
  border-radius: 0 var(--br-9xs) var(--br-9xs) 0;
  background-color: var(--color-tan);
}
.search1Icon {
  position: absolute;
  height: 100%;
  width: 78.08%;
  top: 0;
  right: 10.96%;
  bottom: 0;
  left: 10.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.searchButton,
.searchbar3 {
  position: absolute;
  height: 87.69%;
  width: 10.14%;
  top: 6.15%;
  right: 0;
  bottom: 6.15%;
  left: 89.86%;
}
.searchbar3 {
  height: 78.46%;
  width: 100%;
  top: 10.77%;
  bottom: 10.77%;
  left: 0;
  background-color: var(--color-tan);
}
.filter1Icon,
.filterList {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.filter1Icon {
  width: 89.04%;
  right: 5.48%;
  left: 5.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.filterList {
  width: 10.14%;
  right: 10.83%;
  left: 79.03%;
}
.searchbarRegion {
  position: absolute;
  top: 54px;
  left: 5px;
  width: 230px;
  height: 21px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.settings1Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dropdownArrow,
.settings {
  position: absolute;
  top: 12px;
  left: 210px;
  width: 25px;
  height: 25px;
}
.dropdownArrow {
  top: 6px;
  left: 170px;
  width: 36px;
  height: 36px;
}
.seperatingLineChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.seperatingLine {
  position: absolute;
  top: 49px;
  left: 204px;
  width: 49px;
  height: 2px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.title2 {
  position: absolute;
  top: 12px;
  left: 7px;
  width: 163px;
  height: 21px;
  color: var(--color-gray-300);
}
.blockingBar1,
.scan1Icon,
.scanclick1Icon {
  position: absolute;
  height: 100%;
  width: 85.71%;
  top: 0;
  right: 14.29%;
  bottom: 0;
  left: 0;
}
.scan1Icon,
.scanclick1Icon {
  width: 43.24%;
  right: 56.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scanclick1Icon {
  right: 0;
  left: 56.76%;
  display: none;
}
.scanButton {
  position: absolute;
  height: 87.06%;
  width: 37.19%;
  top: 5.88%;
  right: 54.42%;
  bottom: 7.06%;
  left: 8.39%;
}
.collection1Icon,
.collectionclick1Icon {
  position: absolute;
  height: 100%;
  width: 44.74%;
  top: 0;
  right: 55.26%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.collectionclick1Icon {
  height: 103.54%;
  width: 44.62%;
  right: -3.19%;
  bottom: -3.54%;
  left: 58.57%;
  display: none;
}
.collectionButton {
  position: absolute;
  height: 87.06%;
  width: 37.19%;
  top: 5.88%;
  right: 28.57%;
  bottom: 7.06%;
  left: 34.24%;
}
.decks1Icon,
.decksclicked1Icon {
  position: absolute;
  top: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.decks1Icon {
  height: 100%;
  width: 41.93%;
  right: 58.07%;
  bottom: 0;
  left: 0;
  display: none;
}
.decksclicked1Icon {
  height: 99.15%;
  width: 39.72%;
  right: 8.16%;
  bottom: 0.85%;
  left: 52.13%;
  border-radius: var(--br-4xs);
}
.decksButtonv2 {
  position: absolute;
  height: 84.71%;
  width: 39%;
  top: 8.24%;
  right: 19.5%;
  bottom: 7.06%;
  left: 41.5%;
}
.deckbarRegionv2,
.seperatingLineItem {
  position: absolute;
  top: 388px;
  left: 0;
  width: 280px;
  height: 54px;
}
.seperatingLineItem {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-200);
}
.seperatingLine1 {
  position: absolute;
  top: 93px;
  left: 120.55px;
  width: 276.95px;
  height: 1.88px;
  transform: rotate(90.13deg);
  transform-origin: 0 0;
}
.background3,
.card,
.card1 {
  position: absolute;
  top: 93px;
  left: 9px;
  width: 104px;
  height: 145px;
}
.background3,
.card1 {
  left: 128px;
}
.background3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-400);
}
.carddescbackground {
  position: absolute;
  top: 0;
  left: -1px;
  width: 240px;
  height: 441px;
}
.blockingBar2,
.menubar2 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.menubar2 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-gray-200);
}
.blockingBar2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 100%;
  right: -100%;
  bottom: -100%;
  left: 100%;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.adding1To {
  position: absolute;
  width: 79.58%;
  top: 25%;
  left: 5.83%;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-maven-pro);
  color: var(--color-tan);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.dropbutton2,
.titlebannerv2 {
  cursor: pointer;
  position: absolute;
}
.dropbutton2 {
  height: 75%;
  width: 10%;
  top: 12.5%;
  right: 4.58%;
  bottom: 12.5%;
  left: 85.42%;
}
.titlebannerv2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  left: 1px;
  width: 240px;
  height: 32px;
}
.title3,
.title4 {
  position: absolute;
  top: 49px;
  left: 23px;
  width: 163px;
  height: 21px;
  color: var(--color-cadetblue);
}
.title4 {
  top: 158px;
}
.unchecked1Icon {
  position: absolute;
  height: 100%;
  width: 13.64%;
  top: 0;
  right: 86.36%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.owned {
  position: absolute;
  height: 82.35%;
  width: 138.71%;
  top: 5.88%;
  left: 14.52%;
  display: flex;
  align-items: center;
}
.filter,
.filter1,
.filter2,
.filter3 {
  position: absolute;
  top: 74px;
  left: 34px;
  width: 124px;
  height: 17px;
}
.filter1,
.filter2,
.filter3 {
  top: 99px;
}
.filter2,
.filter3 {
  top: 124px;
}
.filter3 {
  top: 183px;
}
.standAloneButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-tan);
}
.confirm {
  position: absolute;
  height: 55.56%;
  width: 75.83%;
  top: 22.22%;
  left: 13.33%;
  font-size: var(--font-size-base);
  display: flex;
  font-family: var(--font-maven-pro);
  color: var(--color-gray-300);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.standAloneButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 363px;
  left: 60px;
  width: 120px;
  height: 36px;
}
.settings1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 441px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-tan);
  font-family: var(--font-maven-pro);
}
