.img79301Icon {
  position: absolute;
  top: 0;
  left: 37px;
  width: 240px;
  height: 419px;
  object-fit: cover;
}
.blockingBar,
.collection1,
.menubar {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.menubar {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-tan);
}
.blockingBar,
.collection1 {
  width: 76.68%;
  right: 11.5%;
  left: 11.82%;
}
.collection1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 44.74%;
  right: 55.26%;
  left: 0;
  background-image: url(/public/collection-11@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.collectionclick1Icon {
  position: absolute;
  height: 103.54%;
  width: 44.62%;
  top: 0;
  right: -3.19%;
  bottom: -3.54%;
  left: 58.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.collectionButton {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 23.96%;
  bottom: 5.56%;
  left: 42.81%;
}
.scan1Icon,
.scanclick1Icon {
  position: absolute;
  height: 100%;
  width: 43.24%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scan1Icon {
  right: 56.76%;
  left: 0;
  display: none;
}
.scanclick1Icon {
  right: 0;
  left: 56.76%;
  border-radius: var(--br-4xs);
}
.scanButton {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 66.77%;
  bottom: 5.56%;
  left: 0;
}
.decks1Icon,
.decksclicked1Icon {
  position: absolute;
  height: 100%;
  width: 41.93%;
  top: 0;
  right: 58.07%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.decksclicked1Icon {
  height: 99.15%;
  width: 39.72%;
  right: 8.16%;
  bottom: 0.85%;
  left: 52.13%;
  display: none;
}
.decksButtonv2,
.scanbarRegion {
  position: absolute;
  height: 87.04%;
  width: 33.23%;
  top: 7.41%;
  right: 0;
  bottom: 5.56%;
  left: 66.77%;
}
.scanbarRegion {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.menubar1,
.scanbarRegionv2 {
  position: absolute;
  top: 392px;
  left: 0;
  width: 314px;
  height: 54px;
}
.menubar1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-tan);
}
.informativeTextGoesContainer1 {
  line-break: anywhere;
  width: 100%;
}
.informativeTextGoesContainer {
  position: absolute;
  width: 81.58%;
  top: 27.3%;
  left: 2.63%;
  display: flex;
  align-items: center;
}
.seperatingLineChild,
.toast {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 2.94%;
  right: 0;
  bottom: 2.94%;
  left: 0;
}
.seperatingLineChild {
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-300);
}
.seperatingLine {
  position: absolute;
  height: 5.31%;
  width: 11.15%;
  top: 98.05%;
  right: 6.84%;
  bottom: -3.36%;
  left: 82.02%;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.change {
  position: absolute;
  top: 27.55%;
  left: 84.65%;
  text-decoration: underline;
  font-weight: 600;
}
.cardaddRegion {
  position: absolute;
  top: 23px;
  left: 43px;
  width: 228px;
  height: 27px;
}
.scanstateoff1Icon,
.scanstateon1Icon {
  position: absolute;
  height: 100%;
  width: 51.69%;
  top: 0;
  right: 48.31%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scanstateon1Icon {
  right: 0;
  left: 48.31%;
  display: none;
}
.continousscanbutton {
  position: absolute;
  height: 12.58%;
  width: 33.12%;
  top: 69.97%;
  right: 25.16%;
  bottom: 17.45%;
  left: 41.72%;
}
.camerabutton1Icon {
  right: 49.15%;
  left: 0;
  display: none;
}
.camerabutton1Icon,
.cameradisabled1Icon,
.camerapressed1Icon {
  position: absolute;
  height: 100%;
  width: 50.85%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.camerapressed1Icon {
  right: 0;
  left: 49.15%;
  display: none;
}
.cameradisabled1Icon {
  right: -48.73%;
  left: 97.88%;
}
.camerabutton,
.toaststep1 {
  position: absolute;
  top: 338px;
  left: 117px;
  width: 71px;
  height: 36px;
}
.toaststep1 {
  top: 0;
  left: -37px;
  width: 314px;
  height: 446px;
}
.toaststep {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 443px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xs-5);
  color: var(--color-gray-300);
  font-family: var(--font-maven-pro);
}
